.content-block{
    background-color: #696969; 
    margin-top: 300px;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 300px;
    margin-bottom:200px;
}
 H1{
     text-align: center;
}
.title{
    padding:0px;
}
.estimation{
    display: inline-block;
    width: 100%;
}
.estimation img{
    width:100%;
}
